<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      <header>
            <h1>🔧 Handwerker Auftragsverfolgung</h1>
            <p class="subtitle">Verfolgen Sie ihren Auftrag</p>
            <div class="Creds">
                <a href="/login" class="btn btn-primary">Login</a>
            </div>
            <a href="/" class="back-link">← Zurück zur Startseite</a>
        </header>
    <div class="login-container">
        <form class="login-form" action="/login" method="POST">
            <h2>Login</h2>
            <div class="form-group">
                <label for="username">Username Or Email:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
    </div>
</body>
</html>